/*
    https://type-scale.com/
    SPACING SYSTEM
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

    FONT SIZING SYSTEM
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 96
*/

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Concert One', sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}